*,
*:after,
*:before {
    box-sizing: border-box;
}

.grid {
    position: relative;
    margin: 0 auto;
    height: auto;
    list-style: none;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: auto;
    background: var(--color-secondary);
    cursor: pointer;
    margin-bottom: 1.5em;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: .8
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none
}

.grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300
}

.grid figure h2 span {
    font-weight: 800
}

.grid figure h2,
.grid figure p {
    margin: 0
}

@media screen and (max-width:50em) {
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%
    }
}

figure.effect-chico img {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12)
}

figure.effect-chico:hover img {
    opacity: .5;
    -webkit-transform: scale(1);
    transform: scale(1)
}

figure.effect-chico figcaption {
    padding: 3em
}

figure.effect-chico figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s
}

figure.effect-chico h2 {
    padding: 60% 0 0 0;
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}