:root {
    --color-primary: #B80000;
    --color-secondary: #CDC6C8;
    /* #D81A21 */
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 2% 0;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
}

h1::before {
    content: "\25AA";
    color: var(--color-primary);
    font-size: 1.4em;
    display: inline-block;
    width: 1em;
}

h2 {
    margin: 0;
    padding: 1% 3%;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

h2::before {
    content: "\25AA";
    color: var(--color-primary);
    font-size: 1.4em;
    display: inline-block;
    width: 1em;
}

main {
    margin: 0 auto;
    max-width: 1440px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary);
    height: 65px;
    width: 100%;
}

#menu,
#menu ul {
    float: left;
    padding: 0;
    margin: 0;
    line-height: 65px;
    list-style: none;
}

#menu li {
    display: inline-block;
    position: relative;
    height: 100%;
}

#menu ul li {
    display: inherit;
}

#menu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

#menu li:hover ul {
    max-height: 15em;
}

#menu li {
    background-color: none;
}

#menu li li {
    text-align: center;
    background-color: var(--color-secondary);
}

#menu a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 22px;
    color: #fff;
}

#menu ul a {
    padding: 8px 0;
}

#menu li:hover li a {
    color: #fff;
    text-transform: uppercase;
}

#menu li:hover a,
#menu li li:hover a {
    color: #000;
}

.logo {
    float: left;
    line-height: 65px;
    padding: 0 1%;
    font-size: 2em;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.logo span {
    color: white;
    font-weight: 500;
}

section#articles {
    display: flex;
    justify-content: space-between;
}

section#articles .box {
    width: 33.33%;
    height: auto;
}

section#articles img {
    max-width: 100%;
    height: auto;
}

section#articles p {
    font-size: 1em;
    padding: 3%;
    margin: 0;
}

button {
    float: right;
    margin: 3%;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
    text-transform: uppercase;
    background: var(--color-primary);
}

section#president {
    background: linear-gradient(180deg, rgba(205, 198, 200, 0) 36.46%, #DEDEDE 100%);
    width: 100%;
    min-height: 400px;
    padding: 0 10%;
}

section#president .photo {
    float: left;
    height: 0;
}

section#president img {
    margin-top: 36px;
}

section#president .citation {
    float: left;
    padding-left: 40%;
    padding-top: 8%;
}

blockquote {
    font-size: 1.1em;
    font-family: 'Alice', serif;
    width: auto;
    margin: 0 auto;
    font-style: italic;
    color: black;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 6px solid var(--color-primary);
    line-height: 1.8;
    position: relative;
}

blockquote:before {
    content: "\201C";
    color: var(--color-primary);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

cite {
    float: right;
    font-size: 1.6em;
    font-family: 'Alice', serif;
}

section#sponsors {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}

section#footer {
    background-color: var(--color-secondary);
    padding: 1% 0;
    height: auto;
    width: 100%;
}

section#footer ol {
    width: 100%;
}

section#footer li {
    display: inline-block;
    padding: 0 1%;
}

section#footer li a {
    color: black;
    text-decoration: none;
}

section#terrain {
    height: auto;
    padding: 0 0 3% 0;
    width: 100%;
}

section#terrain p {
    text-align: center;
    font-weight: 500;
    background-color: var(--color-primary);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

section#terrain img {
    display: block;
    margin: 0 auto;
    width: 626px;
    height: 416px;
}

section#team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2% 10%;
}

section#terrain .legend {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

section#terrain form {
    margin-top: 1%;
    text-align: center;
}

section#terrain span {
    text-transform: uppercase;
    padding: 0 0.5em;
    font-weight: 500;
    font-size: 1.2em;
}

section#terrain span.goal::before {
    content: "\25AA";
    color: black;
    font-size: 1.4em;
    display: inline-block;
    width: 0.8em;
}

section#terrain span.defense::before {
    content: "\25AA";
    color: blue;
    font-size: 1.4em;
    display: inline-block;
    width: 0.8em;
}

section#terrain span.middle::before {
    content: "\25AA";
    color: white;
    font-size: 1.4em;
    display: inline-block;
    width: 0.8em;
}

section#terrain span.attack::before {
    content: "\25AA";
    color: red;
    font-size: 1.4em;
    display: inline-block;
    width: 0.8em;
}

section#team .player_box {
    background-color: var(--color-secondary);
    margin: 0.5em;
    width: 250px;
    padding: 1em;
    height: auto;
}

section#team .player_box p {
    padding: 0;
    margin: 0;
}

section#team .player_box p.title {
    color: var(--color-primary);
    padding-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}

section#ticket {
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2% 10%;
}

section#ticket .box_ticket {
    width: 46%;
    background-color: var(--color-primary);
    padding: 2%;
    margin: 2%;
    height: auto;
}

.background_team {
    background-image: url('images/equipe.jpeg');
    background-size: cover;
    width: 100%;
    height: 600px;
}

.background_team_cover {
    width: 100%;
    height: 600px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.27) 73%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.27) 73%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.27) 73%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    /* IE6-9 */
}

#ticket select {
    padding: 5px 15px;
    margin: 0.5em 0;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
}

#ticket label {
    display: inline-block;
    width: 70%;
}

section#contact {
    display: flex;
    justify-content: space-around;
    padding: 2% 10%;
}

section#contact .box_form {
    background-color: var(--color-primary);
    color: white;
    padding: 2%;
    width: 46%;
}

section#contact .box_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/photo_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2%;
    width: 46%;
}

#contact label {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    display: block;
}

#contact label.inline {
    display: inline;
    margin-right: 50px;
}

#contact input,
textarea,
select,
option {
    background-color: #FFF3F3;
}

#contact input,
textarea,
select {
    padding: 6px;
    border: 1px solid #F5C5C5;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 2px #C0C0C0 inset;
}

#contact input[type=submit],
input[type=reset] {
    margin-top: 0.5em;
    width: 20%;
    cursor: pointer;
}

section#map {
    display: flex;
    justify-content: space-around;
    padding: 2% 10%;
}

section#map .box_map {
    background-color: var(--color-primary);
    color: white;
    padding: 2%;
    width: 46%;
}

section#map .box_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/photo_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 10%;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2%;
    width: 46%;
}

section#map .box_photo p {
    font-weight: 500;
    color: white;
    white-space: pre-line;
    text-align: center;
    font-size: 1.5em;
}

section#event {
    padding: 2% 10%;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logo {
        display: none;
    }

    section#president {
        padding: 0 2%;
    }

    section#president .photo {
        float: left;
        height: 0;
    }

    section#president img {
        margin-top: 36px;
    }

    section#president .citation {
        float: left;
        padding-left: 35%;
        padding-top: 8%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
        display: none;
    }

    nav {
        position: relative;
        top: 0;
        z-index: 100;
        background-color: none;
        height: 100%;
        width: 100%;
    }

    #menu,
    #menu ul {
        float: none;
        list-style: none;
    }

    #menu li {
        display: list-item;
        position: relative;
        height: 100%;
    }

    #menu li {
        background-color: var(--color-primary);
    }

    section#president {
        padding: 0 2%;
    }

    section#president .photo {
        display: none;
        float: left;
        height: 0;
    }

    section#president .citation {
        float: left;
        padding-left: 0%;
        padding-top: 8%;
    }

    section#contact {
        justify-content: center;
        flex-direction: column;
        padding: 2% 15%;
    }

    section#contact .box_form {
        margin-bottom: 5%;
        width: 100%;
    }

    section#contact .box_photo {
        padding: 2%;
        width: 100%;
        height: 400px;
    }

    section#map {
        justify-content: center;
        flex-direction: column;
        padding: 2% 15%;
    }

    section#map .box_map {
        margin-bottom: 5%;
        width: 100%;
    }

    section#map .box_photo {
        width: 100%;
        height: 400px;
    }

    section#ticket {
        justify-content: center;
        flex-direction: column;
        padding: 2% 15%;
    }

    section#ticket .box_ticket {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        display: none;
    }

    nav {
        position: relative;
        top: 0;
        z-index: 100;
        background-color: none;
        height: 100%;
        width: 100%;
    }

    #menu,
    #menu ul {
        float: none;
        list-style: none;
    }

    #menu li {
        display: list-item;
        position: relative;
        height: 100%;
    }

    #menu li {
        background-color: var(--color-primary);
    }

    section#articles {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    section#articles .box {
        width: 100%;
        height: auto;
    }

    section#articles img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    section#president {
        padding: 0 2%;
    }

    section#president .photo {
        display: none;
        float: left;
        height: 0;
    }

    section#president .citation {
        float: left;
        padding-left: 0%;
        padding-top: 8%;
    }

    section#sponsors {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 2%;
    }

    section#sponsors img {
        width: auto;
        height: auto;
        padding-bottom: 4%;
    }

    section#contact {
        justify-content: center;
        flex-direction: column;
        padding: 2% 0%;
    }

    section#contact .box_form {
        margin-bottom: 5%;
        width: 100%;
    }

    section#contact .box_photo {
        width: 100%;
        height: 400px;
    }

    section#map {
        justify-content: center;
        flex-direction: column;
        padding: 2% 0;
    }

    section#map .box_map {
        margin-bottom: 5%;
        width: 100%;
    }

    section#map .box_photo {
        width: 100%;
        height: 400px;
    }

    section#ticket {
        justify-content: center;
        flex-direction: column;
        padding: 2% 0;
    }

    section#ticket .box_ticket {
        margin: 2% 0;
        width: 100%;
    }

    section#event {
        padding: 2% 0;
    }
}